body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

body {
  background-image: url("wavy-background-180786598e741294f08ecaf1990ddc76.png");
  background-size: 320px 320px;
  background-position: center;
  background-repeat: repeat;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: #dc1a21;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  color: #c5c5c5;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: auto;
  justify-content: center;
  height: 200px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.social-media a {
  margin-right: 20px;
}

#hero {
  background-image: url("pMmIAB6VKh9BnpxL7EIhit7GFfQmrBSFJkwvznca.png");
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 200px 0;
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

#special-offers {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.offer-card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.offer-card img {
  width: 50%;
  height: auto;
  margin-bottom: 10px;

}

.offer-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 16px;
}

#featured-products {
  padding: 50px 0;
  text-align: center;
}

.product-card {
  display: inline-block;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
}

#customer-reviews {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}

.review-card {
  display: inline-flex;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 16px;
}

.gallery-heading {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

#gallery {
  padding: 50px 0;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.gallery-image {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 10px;
  height: 200px;
  overflow: hidden;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #dc1a21;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-bottom {
  font-size: 14px;
}
